body{
    background: gray;
font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-bottom: 30px;
}

.container{
  margin: 120px auto;
  max-width: 600px;

}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: yellowgreen;
}

.form-container {
    background-color: yellowgreen;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    padding: 15px 20px;
  }
  
  form {
    display: flex;
  }
  
  .hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;
  }


.prompt{
    padding: 16px;
    border: 1px solid #ccc;
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
}

.submit-button{
margin-left: 10px;
    padding: 14px 24px;
    border: none;
    background: #fff;
    color: yellowgreen;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;

} 

.poem{
    font-size: 16px;
    background-color: #fff;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid yellowgreen;
    box-shadow: 0px 4px 30px 0px rgba(65, 50, 100,0.08); 
}

.hidden {
    display: none;
  }

.link{
    color: yellowgreen;
}
footer{
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    color: black;
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

